# Site wide configuration

title: "Sophia的个人学习网站"
description: "这是我的个人博客，也是我的期末作业"
logo: # 个人的logo120x120 px default image used for Twitter summary card

teaser: # 400x250 px default teaser image used in image archive grid
locale: zh_CN # 本地化翻譯
url:
feed:
  path: atom.xml

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed


# Site owner
owner:
  name: LuJIAYan
  email: lujiayan123@126.com
  twitter: 
  google:
    ad-client:
    ad-slot:
  bio: "卢佳燕,网络与新媒体学生"
  avatar: 20150927215431_cQzJr.jpeg  #160x160 px image for author byline
  disqus-shortname:


include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
port: 5001
