<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
</ul>


<head>  
<title>学习笔记</title>  
<style type="text/css">  
.sub_menue  
{  
display:none;              /*先将子菜单设置为隐藏*/  
}  
li:hover .sub_menue  
{  
display:block;             /*设置鼠标滑过动作，以块级元素的形式显示出子菜单*/  
}  
</style>  
</head>  
  
<body>  
<ul class="menue">  
<li>学习笔记 
    <ul class="sub_menue">  
      <li>web</li>  
      <li>可视化</li>  
    </ul>  
</li>  
 
</ul>   
</body>


